/* Colors */
:root {
  --bs-secondary: #bc5feb;
  --bs-secondary-rgb: 188, 95, 235;
}

/* Basics for HTML and body */
html,
body,
body > div:first-child,
div#__next {
  height: 100%;
}
div#__next {
  display: flex;
  flex-direction: column;
}
html {
  font-size: 18px;
}

/* Backgrounds */
body {
  background: linear-gradient(to left, hsl(37deg 82% 90%), hsl(282deg 83% 95%));
}
footer,
nav#mainNav,
header {
  background: linear-gradient(to left, hsl(37deg 30% 18%), hsl(300deg 33% 16%));
}

/* Introduction header */
header {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
}

/* Code and monospace settings */
code,
.font-monospace {
  letter-spacing: 0.3px;
}
code {
  font-size: 110%;
}
pre,
code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.75rem !important;
  line-height: 1.2 !important;
  background: white !important;
}

/* Bootstrap components */
ol.breadcrumb {
  margin-bottom: 0;
}
.nav-tabs .nav-link {
  font-size: 0.8em;
  font-weight: bold;
}
.nav-tabs .nav-link:not(.active) {
  color: var(--bs-secondary);
}
.text-success {
  color: #28dc88 !important;
}
.text-small {
  font-size: 0.75em;
}

/* Fancy numbered list in introduction */
ol.motivation-and-values {
  list-style-type: none;
  padding-left: 3rem;
}
ol.motivation-and-values li {
  counter-increment: step-counter;
  position: relative;
}
ol.motivation-and-values li::before {
  content: counter(step-counter) ".";
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: calc(100% + 0.75rem);
  top: -0.5rem;
}
